<h1>Products</h1>
<div class="container">
    <div class="product">
        <img src="./../../assets/images/books.jpg" alt="Product Image">
        <h3>Book</h3>
        <p>RS.200/-</p>
        <button (click)="saveOrder('book',200,'delieverd')">Place Order</button>
    </div>
    <!-- Add more product divs here -->
        <div class="product">
            <img src="./../../assets/images/hanumantoy.jpg" alt="Product Image">
            <h3>Hanuman</h3>
            <p>RS.1000/-</p>
            <button (click)="saveOrder('hanuman',1000,'delieverd')">Place Order</button>
        </div>

</div>